$footer-height: 50px !default;

html, body {
  height: 100%;
  max-width: 100%;
}

body > .container {
  min-height: 100%;
}

.footer-push {
  min-height: 100%;
  margin-bottom: -$footer-height;

  &:after {
    content: "";
    display: block;
  }
}

footer, .footer-push:after {
  height: $footer-height;
}

footer {
  margin-top: 20px;
  line-height: $footer-height;
  text-align: center;
}

